<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Orders Chilexpress - La Condonería">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">PRODUCTO</Data></Cell>
        <Cell><Data ss:Type="String">SERVICIO</Data></Cell>
        <Cell><Data ss:Type="String">DESTINO</Data></Cell>
        <Cell><Data ss:Type="String">PESO</Data></Cell>
        <Cell><Data ss:Type="String">DESTINATARIO</Data></Cell>
        <Cell><Data ss:Type="String">CALLE</Data></Cell>
        <Cell><Data ss:Type="String">NUMERO</Data></Cell>
        <Cell><Data ss:Type="String">COMPLEMENTO</Data></Cell>
        <Cell><Data ss:Type="String">REFERENCIA</Data></Cell>
        <Cell><Data ss:Type="String">ALTO</Data></Cell>
        <Cell><Data ss:Type="String">ANCHO</Data></Cell>
        <Cell><Data ss:Type="String">LARGO</Data></Cell>
        <Cell><Data ss:Type="String">CARGOEMPRESA</Data></Cell>
        <Cell><Data ss:Type="String">VALOR</Data></Cell>
        <Cell><Data ss:Type="String">CASILLA</Data></Cell>
        <Cell><Data ss:Type="String">EMAIL</Data></Cell>
        <Cell><Data ss:Type="String">CELULAR</Data></Cell>
        <Cell><Data ss:Type="String">ENTREGAOFICINA</Data></Cell>
        <Cell><Data ss:Type="String">INFOADICIONAL</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="Number">3</Data></Cell>
        <Cell><Data ss:Type="Number">3</Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_city'] %></Data></Cell>
        <Cell><Data ss:Type="Number">0.1</Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_name'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_address'] %></Data></Cell>
        <Cell><Data ss:Type="Number">0</Data></Cell>
        <Cell><Data ss:Type="Number">0</Data></Cell>
        <Cell><Data ss:Type="String">Ref.</Data></Cell>
        <Cell><Data ss:Type="Number">10</Data></Cell>
        <Cell><Data ss:Type="Number">10</Data></Cell>
        <Cell><Data ss:Type="Number">10</Data></Cell>
        <Cell><Data ss:Type="Number"></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['shipment_total'] %></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['email'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_phone'] %></Data></Cell>
        <Cell><Data ss:Type="Number"></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['special_instructions'] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>