<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Orders - La Condonería">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ORDEN ID</Data></Cell>
        <Cell><Data ss:Type="String">NUMERO ORDEN</Data></Cell>
        <Cell><Data ss:Type="String">FECHA</Data></Cell>
        <Cell><Data ss:Type="String">ESTADO</Data></Cell>
        <Cell><Data ss:Type="String">NOMBRE</Data></Cell>
        <Cell><Data ss:Type="String">EMAIL</Data></Cell>
        <Cell><Data ss:Type="String">DIRECCION</Data></Cell>
        <Cell><Data ss:Type="String">COMUNA</Data></Cell>
        <Cell><Data ss:Type="String">REGION</Data></Cell>
        <Cell><Data ss:Type="String">PRODUCTOS COMPRADOS</Data></Cell>
        <Cell><Data ss:Type="String">CANTIDAD DEL PRODUCTO</Data></Cell>
        <Cell><Data ss:Type="String">TOTAL</Data></Cell>
        <Cell><Data ss:Type="String">INFO ADICIONAL PEDIDO</Data></Cell>
        <Cell><Data ss:Type="String">TIPO DE ENVIO</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <% if order['items'] %>
        <% order['items'].each_with_index  do |item, index| %>
          <Row>
            <Cell><Data ss:Type="<%= index == 0 ? "Number" : "String" %>"><%= index == 0 ? order['id'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['number'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['fix_date'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['payment_state'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['ship_name'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['email'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['ship_address'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['ship_city'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['ship_city'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= item['name_fix'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= item['quantity'] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= item['total'] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['special_instructions'] : "" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= index == 0 ? order['shipping_method'] : "" %></Data></Cell>
          </Row>

        <% end %>
      <% end %>
    <% end %>
    
    </Table>
  </Worksheet>
</Workbook>