<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Orders Correos - La Condonería">
    <Table>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="String"><%= order['ship_name'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_address'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_city'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['ship_city'] %></Data></Cell>
        <Cell><Data ss:Type="Number">24</Data></Cell>
        <Cell><Data ss:Type="String">P</Data></Cell>
        <Cell><Data ss:Type="Number">1</Data></Cell>
        <Cell><Data ss:Type="Number">1</Data></Cell>
        <Cell><Data ss:Type="String">Accesorios</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="Number">0.1</Data></Cell>
        <Cell><Data ss:Type="Number">0.01</Data></Cell>
        <Cell><Data ss:Type="String"><%= order['bill_address'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['bill_city'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['bill_email'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order['bill_phone'] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>