<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body data-hook="body">

    <%= render :partial => 'spree/shared/header' %>

    <%# render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

    <%# flash_messages %>
    <% if params[:controller] == 'spree/user_sessions' || params[:controller] == 'spree/user_registrations' || params[:controller] == 'spree/user_passwords' || params[:controller] == 'spree/orders' || params[:controller] == 'spree/checkout' %>
      <div class="custom-container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= yield :templates %>

    <%= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>