<!-- PAGE CONTENT -->
<div class="wrapper">
  <div class="page-content-top">
    <ul class="makeup-artist product-detail">
      <li>
        <div class="profile">
          <div class="img-container product-show" id="product-images" data-hook="product_images">
            <%= render :partial => 'image' %>
          </div>
          <h3><%= accurate_title %></h3>
          <div class="divider"></div>
          <p><%= product_description(@product) rescue Spree.t('No hay descripción disponible') %></p>
          <%# link_to @artist.link, @artist.link, :target => "_blank", :class => "website" %>
          <%= render :partial => 'cart_form', :locals => { :product => @product } %>
        </div>
      </li>
      <li>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
        <div class="social-feed">
          <div id="disqus_thread"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="page-content-bottom">
    <ul class="mis-cosas product-detail">
      
      <li>
        <h3>
          <small>Más</small><br>
          <span class="hor-line"></span>PRODUCTOS<span class="hor-line"></span>
        </h3>
        <ul class="prod-showdown favs-showdown flexbox">
          <%= render :partial => 'spree/shared/products_fixed', :locals => { :products => @products, :num => 3 } %>
        </ul>
      </li>

    </ul>
  </div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'llamazo'; // required: replace example with your forum shortname
    var disqus_identifier = window.location.pathname;
    var disqus_url = window.location.href;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by La Condonería.</a></noscript>