<!-- FOOTER -->
<footer>
	<div class="footer-top">
		<ul class="flist">
			<li><%= link_to 'contact', '/contact' %></li>
			<li><%= link_to 'about us', '/about' %></li>
			<li><%= link_to 'terms & conditions', '/policies' %></li>
			<li><%= link_to 'faq', '/faq' %></li>
			<li><%= link_to 'shipping information', '/shipping' %></li>
			<li><a href="/blog">blog</a></li>
		</ul>
		<ul class="social-media">
			<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
			<li><a href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
			<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
		</ul>
	</div>
	<form action="//lacondoneria.us1.list-manage.com/subscribe/post?u=f0e9fb5528531bfe1d705bb86&amp;id=a1a31a0b28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<span>NEWSLETTER</span>
		<input type="email" placeholder="Sign up for updates, news, events and more" name="EMAIL" id="mce-EMAIL" />
		<input type="hidden" value="" name="FNAME" id="mce-FNAME">
		<input type="hidden" value="" name="LNAME" id="mce-LNAME">
		<div style="position: absolute; left: -5000px;">
	    	<input type="text" name="b_f0e9fb5528531bfe1d705bb86_a1a31a0b28" tabindex="-1" value="">
	    </div>
		<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><a class="envelope-link" href="javascript:void(0);"><i class="fa fa-envelope-o"></i></a></button>		
		<div class="response" id="mce-success-response" style="display:none"></div>
	</form>

	<div class="copyright">
		<p>Antora 2015 All rights reserved<br>Developed by Zoohash</p>
	</div>
</footer>

<script>
	$(document).ready(function(){
		$(".slider").simpleSlider();
	});
</script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9250-530-10-1461');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9250-530-10-1461/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
