<!-- <header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%# render :partial => 'spree/shared/nav_bar' %>
  <%# render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header> -->

<!-- Header -->
<header id="header" data-hook>
	<div class="header-top">
		<ul>
			<li>Enviamos sin costo a todo Chile <span class="lato">|</span></li>
			<li><i class="fa fa-envelope-o"></i><a href="mailto:contacto@antoracosmetics.cl">contacto@antoracosmetics.cl</a>  (+56 2) 2221 3232</li>
			<li class="lato lato-lang"><a href="#">ESP</a> | <a href="">ENG   </a></li>
		</ul>
	</div>
	<div class="header-bottom">
		<ul class="bottom-content">
			<li class="logo">
				<%= link_to (image_tag 'logo.png', :alt => "Antora"), "/" %>
			</li>	
			<li>				
				<nav>
					<ul>
						<%= render :partial => 'spree/shared/taxonomies' %>
					</ul>
				</nav>
			</li>
			<li>
				<ul class="action-bar">
					<% if spree_current_user %>
					  <% if spree_current_user.has_spree_role?("admin") %>
					  	<li>
					    	<%= link_to'admin', '/admin' %>
					 	</li>
					 	<li>|</li>
					  <% end %>
					  <li>
					    <%= link_to'logout', spree_logout_path, :method => :delete %>
					  </li>
					<% else %>
					  <li>
					    <%= link_to 'login', spree_login_path %>
					  </li>
					  <li>|</li>
					  <li>
					    <%= link_to 'register', spree_signup_path %>
					  </li>
					<% end %>
					<li>|</li>
					<li><i class="fa fa-search"></i></li>
					<li>|</li>
					<li id="link-to-cart"></li>
				</ul>
			</li>
		</div>
	</div>
	<script>Spree.fetch_cart()</script>
</header>